html, body{
    margin: 0px;
}
nav{
    background-color: white;
    height: 100px;
}

.portada {
    height: 75vh;
    background: url('./images/rafael_aquino_035.png'); 
    /* background: url('https://images.pexels.com/photos/4038397/pexels-photo-4038397.jpeg?cs=srgb&dl=pexels-joseph-ruwa-4038397.jpg&fm=jpg'); */
    background-size: cover;
    background-position: center;
    padding: 1em;
    color: white;
    display: flex;
    align-items: flex-end;
    margin-bottom: 150px;
    border-top: solid 12px black;;
    border-bottom: solid 12px black;
}

.portada h1{
    font-size: 50px;
    margin: 0px;
    text-shadow: 0px 0px 4px #000;
    font-family: Arial, Helvetica, sans-serif;
}

.portada p{
    font-size: 20px;
    margin: 4px;
}
   
article{
    margin-bottom: 150px;
    line-height: 2.0;
    font-size: 20px;
}

footer{
    background-color: #000;
    height: 250px;
}
.redes{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px white;
    background-color: whitesmoke;
    width: 100%;
    margin-top: 100px;
}
.redes img{
    margin: 30px;    
}


a:link { font-weight: bold; text-decoration: none}
a:visited { text-decoration: none}
a:hover {  text-decoration: none}
a:active { text-decoration: none}

.caja{
	/*clear:both;*/
	width: 100%;
	float: left;
	/*min-width:50%;*/
	height: auto;
	padding: 5px;
	margin: 10px 0;
	box-sizing: border-box;
}